.bg-login{
    background-image: url("../img/fondologin.jpg");
    background-repeat: no-repeat;
}
#volver{
    position: absolute;
    top: 0;
    left: 0;
}
.bg-registro{
    background-image: url("../img/fondologin.jpg");
    background-repeat: no-repeat;
}
.bg-admin{
    background-image: url("../img/fondologinregistro.jpg");
    background-repeat: no-repeat;
}
.bg-cliente{
    background-image: url("../img/fondologinregistro.jpg");
    background-repeat: no-repeat;
}
.formulario{
    max-width: 300px;
}
.menuadmin{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center
}
.menucliente{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}
.nickuseradmin{
    margin-left: 180px;
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;    
}
.nickusercliente{
    margin-left: 180px;
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase; 
}
.menuprincipalcliente{
    position: fixed;
    margin-top: -130px;
    margin-left: 220px;
}
.menuprincipaladmin{
    position: fixed;
    margin-top: -130px;
    margin-left: 220px;
}